.number-group {
  max-width: 492px;
  height: 30px;
  position: relative;

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1e34a5;
    font-weight: bold;
    font-size: 18px;
    color: $white-color;
    cursor: pointer;

    &-1 {
      left: 0;
    }

    &-2 {
      left: calc(50% - 15px);
    }

    &-3 {
      right: 0;
    }
  }

  &__item.active {
    background-color: $bg-btn-color;
  }


  &::after,
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    width: calc(50% - 60px);
    height: 2px;
    background-color: $top-line-color;
    opacity: 0.2;
    border-radius: 8px;
  }

  &::before {
    right: 38px;
  }

  &::after {
    left: 38px;
  }

}
