@import "../../../design-tokens/variables";

@import "../../../design-tokens/fonts";

@import "./number-group";

.header {
  max-width: $mainWidth;
  margin: 0 auto;

  &__title {
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    font-size: 40px;
    color: $white-color;
  }

  &__group {
    margin: 0 auto;
  }
}

@media (max-width: $mediamWidthTablet) {
  .header {
    &__title {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
