// colors
$white-color: #fff;
$top-line-color: #e8e8e8;
$placeholder-color: #a7a7a7;
$label-color: #636363;
$error-color: #f16667;
$bg-input-color: #f9f9f9;
$bg-btn-color: #da3f5b;

$mediamWidthTablet: 648px;
$mainWidth: 608px;
