* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(228.75deg, #216190 19.65%, #0834D0 81.25%);
  font-family: "Open Sanse", sans-serif;
}
